body {
    font-family: 'Texturina', serif;
    padding-top: 30px; 
    padding-bottom: 30px;
    }
h1 .active {
        color: #22262A;
        cursor: default;
    }
h1 .active:hover {
        text-decoration: none;
    }
.container {
    width: 768px;
    margin: 0 auto;
}
.weather-app-wrapper {
    border: 1px solid #48484B;
    background-image: url("image/mountainmoon.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
.search {
    padding:15px 5px 5px 10px;
    border-radius: 40px;
    display: block;
    margin: auto;
    text-align: center;
}
.search #submit-input {
    border-radius: 20px;
    background-color: #BBD4D6;
    width: auto;
}
.search #submit-current {
    border-radius: 20px;
    background-color: #83c0c4;
    position: relative;
}
.center {
    text-align: center;
}
.emoji {
    font-size: 10px;
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.cityName {
    font-size: 65px;
    margin-bottom: 0px;
    color: #534e52;
    margin-top: -10px;
}
.day {
    font-size: 17px;
    color: #534e52;
}
.left {
    text-align: left;
}
.temperatureToday {
    font-size: 90px;
    color: #534e52;
    text-align: center;
}
.unit {
    font-size: 15px;
    text-transform: bold;
    position: relative;
    float:right;
    top: -60px;
}
.right {
    font-size: 16px;
    color: #534e52;
    text-align: left;
}
.description {
    font-size: 22px; 
    color: #534e52;
}
.description:first-letter{
    text-transform: capitalize;
}
 .transparent-box {
    border: 1px solid #cbdcdc;
    background: rgba(178, 198, 198, 0.4);
 }
.weatherForecast {
    max-width: 700px;
}
.weather-forecast, 
.forecastHours{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.forecastHours {
    color: #534e52;
}
 .forecast-temperature-max {
    color: #48484B;
 }
.forecast-temperature-min {
    color: #2e4949;
}
h4 {
    text-align: center;
    font-size: 14px;
 }
#icon {
    width: 25%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0 auto;
}
@media (min-width: 768px) {
}







